.lecturerListChild,
.lecturerListItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.lecturerListItem {
  background-color: var(--color-purple);
  width: 66px;
}
.iconParkOutlinelogout,
.phstudentBoldIcon {
  position: absolute;
  top: 179px;
  left: 10px;
  width: 46px;
  height: 46px;
  overflow: hidden;
  cursor: pointer;
}
.iconParkOutlinelogout {
  top: 969px;
  left: 16px;
  width: 33px;
  height: 35px;
}
.lucidefileSpreadsheetIcon {
  position: absolute;
  top: 97px;
  left: 12px;
  width: 41px;
  height: 39px;
  overflow: hidden;
}
.polinemaLogo1Icon {
  position: absolute;
  top: 93px;
  left: 130px;
  width: 1179px;
  height: 799px;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.splash111,
.splash112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 800px;
}
.splash111 {
  background: linear-gradient(180deg, #f08fe1, #db83ce);
}
.splash112 {
  background: linear-gradient(180deg, #f08fe1, #831872 34.28%);
}
.groupChild {
  position: absolute;
  top: 14px;
  left: 37px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.groupItem,
.shaheenUddinAhmad {
  position: absolute;
  top: 131px;
  left: 3px;
}
.groupItem {
  top: 0;
  left: 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 120px;
  height: 25px;
}
.outside,
.rectangleParent {
  position: absolute;
  top: 3px;
  left: 34px;
}
.rectangleParent {
  top: 166px;
  left: 27px;
  width: 120px;
  height: 25px;
  color: var(--color-red);
}
.frame211 {
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  height: 49px;
}
.master,
.master1,
.vectorParent {
  position: absolute;
  top: 10px;
  left: 93px;
  width: 172px;
  height: 191px;
}
.master,
.master1 {
  top: 344px;
  left: 494px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 358px;
  height: 220px;
  overflow: hidden;
}
.master1 {
  top: 97px;
  left: 866px;
}
.splash1112 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #f190e2, #760964 29.67%);
  width: 360px;
  height: 800px;
}
.rectangleContainer {
  position: absolute;
  top: 166px;
  left: 27px;
  width: 120px;
  height: 25px;
  color: var(--color-green);
}
.master2,
.master3,
.master4,
.master5,
.master6,
.master7 {
  position: absolute;
  top: 344px;
  left: 118px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 358px;
  height: 220px;
  overflow: hidden;
}
.master3,
.master4,
.master5,
.master6,
.master7 {
  top: 596px;
  left: 120px;
}
.master4,
.master5,
.master6,
.master7 {
  top: 93px;
  left: 492px;
}
.master5,
.master6,
.master7 {
  top: 344px;
  left: 866px;
}
.master6,
.master7 {
  top: 597px;
  left: 494px;
}
.master7 {
  top: 596px;
  left: 868px;
}
.polinemaLogo2Icon {
  position: absolute;
  top: 1px;
  left: -7px;
  width: 79px;
  height: 58px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.lecturerList {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
